body {
        background-color: rgb(199, 199, 206);
        background-repeat: no-repeat;
        background-position: center center
      }

      body {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
}

main {
    background-color: bisque;

img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  margin-bottom: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.imgbox {
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
    background-color: blue
}

.customtext {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}
}
.boxmodel{
    border: 2px solid #0000FF;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    background-color: orange;
}

.zeroout{
    margin: 20; 
    padding: 20;
    width: 1000px;
    border: 2px solid black

}

.textright{
    text-align: right;
    line-height: 50px;
}

.textcenter{
    text-align:center;
    letter-spacing: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: #f07f4a;
  width: 100px;
  color: white;
  transition: background-color 1.0s, width 2.0s, color 2.0s;
}

nav a:hover {
  background-color: #5008f7;
  width: 200px;
  color: black;
} 

#animatediv {
  color: white;
  font-size: 50px;
  width: 900px;
  height: 300px;
  background-color: #300;
  animation: back-ani 4s linear infinite;
}

@keyframes back-ani {
  0%   {background-color:#15ff00;}
  50%  {background-color:#f1a531;}
  100% {background-color:#cc1385;}
}

.circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-radius:500px;
  opacity: .5;
  background-color: #600;
  animation: circle1-ani 10s linear;
}

@keyframes circle1-ani {
  0%   { opacity: .0; left:0; }
  100% { opacity: .5; left: 1000px; }
}

#slide1 {
  width: 500px;
  overflow: hidden;
}

#slide1 img {
  width: 500px;
  transition: all 1s;
}

#slide1:hover img {
  transform: scale(3);
}

#slide2 {
  width: 500px;
  overflow: hidden;
}

#slide2 img {
  transition: all .25s;
}

#slide2:hover img {
  transform: rotate(360deg);
}

#slide3 {
  width: 500px;
}

#slide3 img {
  transition: .1s all;
}

#slide3:hover img {
  filter: grayscale(80%);
}

* { box-sizing: border-box; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 12px auto;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media all and (min-width: 30rem) {
  nav {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
}

@media all and (min-width: 50rem) {
  nav {
    grid-template-columns: 1fr; 
    width: 30%;
    float: left;
    margin-right: 1rem;
  }

  #mainimg {
    width: 50%;
    float: right;
    margin-left: 3rem;
  }

  main {
    clear: both;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }

  body {
    max-width: 60rem; /* ~960px */
    margin: 0 auto;
  }
}

@media all and (min-width: 62rem) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

main > * {
  min-width: 0;
}

p {
  width: auto;
  max-width: 100%;
  overflow-wrap: break-word;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}
