body {
        background-color: rgb(199, 199, 206);
        background-repeat: no-repeat;
        background-position: center center
}

main {
    background-color: bisque;

.imgbox {
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
    background-color: blue
}

.customtext {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}
}
.boxmodel{
    border: 2px solid #0000FF;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    background-color: orange;
}

.zeroout{
    margin: 20; 
    padding: 20;
    width: 1000px;
    border: 2px solid black

}

.textright{
    text-align: right;
    line-height: 50px;
}

.textcenter{
    text-align:center;
    letter-spacing: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: #f07f4a;
  width: 100px;
  color: white;
  transition: background-color 1.0s, width 2.0s, color 2.0s;
}

nav a:hover {
  background-color: #5008f7;
  width: 200px;
  color: black;
} 

#animatediv {
  color: white;
  font-size: 36px;
  width: 300px;
  height: 300px;
  background-color: #300;
  animation: back-ani 4s linear infinite;
}

@keyframes back-ani {
  0%   {background-color:#15ff00;}
  50%  {background-color:#f1a531;}
  100% {background-color:#cc1385;}
}

.circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-radius:500px;
  opacity: .5;
  background-color: #600;
  animation: circle1-ani 10s linear;
}

@keyframes circle1-ani {
  0%   { opacity: .0; left:0; }
  100% { opacity: .5; left: 1000px; }
}

#slide1 {
  width: 500px;
  overflow: hidden;
}

#slide1 img {
  width: 500px;
  transition: all 1s;
}

#slide1:hover img {
  transform: scale(3);
}

#slide2 {
  width: 500px;
  overflow: hidden;
}

#slide2 img {
  transition: all .25s;
}

#slide2:hover img {
  transform: rotate(360deg);
}

#slide3 {
  width: 500px;
}

#slide3 img {
  transition: .1s all;
}

#slide3:hover img {
  filter: grayscale(80%);
}